@{
    ViewData["Title"] = "Home Page";
}

<div class="text-body p-5">
    <h1 class="display-4 font-weight-bold">Reto de programación AXSeniors</h1>
    <p>
        La empresa XYZ S.A. requiere gestionar los datos de sus productos , para ello se le ha propuesto una aplicación web que administrará la siguiente información:

        <ul>
            <li>Código del producto</li>
            <li>Nombre del producto</li>
            <li>Lote</li>
            <li>Unidad de medida</li>
            <li> Precio</li>
        </ul>
        <span class="font-weight-bold">
            La WebApp deberá ser elaborada con la estructura MVC.
        </span>
    <p>Puede utilizar cualquier lenguaje de programación. (De preferencia C#).</p>
    El proyecto deberá ser subido a un repositorio (Github o DevOps).
    </p>
    <span>
        Deberá también enviar el script de la BBDD que haya creado para el proyecto.
    </span>
</div>
